a{
    color: inherit;
    text-decoration: none;
  }
  ul{
     list-style: none;
  }
  
  .blog{
     justify-content: center;
     align-items: center;
     &__header{
        text-align: center;
     }
     &__header1{
        margin: 0;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: .2px;
        text-transform: uppercase;
        font-style: unset;
        text-decoration: underline;
     }
     &__header2{
        
        font-size: 1.4rem;
        font-weight: 500;
        font-style: unset;
        text-decoration: underline;
        text-align: center;
        color: rgb(255, 250, 247);
     }
     &__header2Span{
        font-weight: 400;
        font-size: 1.25rem;
     }
     
  }
  
  .demo-card-header-pic .card-header {
    color: rgba(202, 179, 160, 0.678);
  }
  .demo-card-header-pic .card-content-padding .date{
    color: #ebffdca8;
  }

  .blog{
     // padding: 0% 10%;
      align-items: center;
      justify-content: center;

  }

  .post_div{
   width: 430px;

   //max-height: 200px;
  display: flex;
  float: left;
  margin:3% 1% ;
  }

  .post{
  //  margin: 3% 12%;
  }

  .sec_div{
     padding: 0% 2%;
  }

  .post:hover{
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.4), 0 8px 8px 0 rgba(0,0,0,.28), 0 8px 8px 0 rgba(0,0,0,.24) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.5,1.6,.5,2),box-shadow 200ms cubic-bezier(.8,0,.4,2);
}


@media only screen and (max-width: 600px) {
   
  .blog{
   // padding: 0% 10%;
    align-items: center;
    justify-content: center;

}

.post_div{
 width: 300px;

 //max-height: 200px;
 float: left;
}

.post{
  margin: 0% 0%;
}

.sec_div{
   padding: 0% 2%;
}

 }